yolov5s_helmet3-20250626T011741Z-1-001/
venv/
ngrok-stable-linux-amd64.zip/
ngrok-v3-stable-linux-amd64.tgz/
ngrok-v3-stable-linux-amd64.zip/
faces/
opencv/
Todo.md
*.txt
*.sh
*.pyc
*.json
opencv
FACE_RECOGNITION_GUIDE.md
FLASK_USAGE_GUIDE.md
README_NGROK.md
